# path-format is rooted in your destination music dir. the template is fed with musicbrainz release data
# see go.senan.xyz/wrtag/musicbrainz for type definitions

#path-format /mnt/music/albums/{{ artists .Release.Artists | sort | join "; " | safepath }}/({{ .Release.ReleaseGroup.FirstReleaseDate.Year }}) {{ .Release.Title | safepath }}{{ if not (eq (disambig .Release) "") }} ({{ disambig .Release | safepath }}){{ end }}/{{ pad0 2 .TrackNum }}.{{ flatTracks .Release.Media | len | pad0 2 }} {{ if .IsCompilation }}{{ artistsString .Track.Artists | safepath }} - {{ end }}{{ .Track.Title | safepath }}{{ .Ext }}

# search links are shortcuts on for the ui to help research data, and populate missing musicbrainz data. the template is fed with tag data
# see go.senan.xyz/tags/tagcommon for type definitions

#research-link kagi https://kagi.com/search?l=4&q={{ printf "%s %s" .Artist .Album | urlquery }}
#research-link juno https://www.junodownload.com/search/?q%5Ball%5D%5B%5D={{ printf "%s %s" .Artist .Album | urlquery }}
#research-link deezer https://www.deezer.com/search/{{ printf "%s %s" .Artist .Album | urlquery }}
#research-link a-tisket https://atisket.pulsewidth.org.uk/
#research-link musicbrainz https://musicbrainz.org/taglookup?tag-lookup.artist={{ .Artist | urlquery }}&tag-lookup.release={{ .Album | urlquery }}

# add notification uri that are triggered by various events
# see all available services here https://containrrr.dev/shoutrrr/v0.8/services/generic/
# possible events are complete, needs-input, sync-complete, sync-error

#notification-uri complete,needs-input,sync-error smtp://username:password@host:port/?from=from@example.com&to=recipient@example.com
#notification-uri complete,sync-complete          generic+https://my.subsonic.com/rest/startScan.view?c=wrtag&v=1.16&u=user&p=password

# set a list of files to keep when moving or copying

#keep-file origin.yaml
#keep-file log.cue

# custom tag weights can be provided to customise how the scoring algorithm weights certain tags. the default weight of any
# tag is 1, so provide a float <1 for less weight, and >1 for more weight. a weight of 0 means ignore the tag completely.
# like any other array like config option, it can be repeated for multiple tag weights

#tag-weight media format 0.5
#tag-weight catalogue num 1.2

# addons add external metadata to tracks after a musicbrainz match. can be used when importing for web, sync cli, or normal cli
#addon lyrics
#addon replaygain
