<table>
{{ range . }}
  <tr class="{{ if not .Equal }}bg-gray-200{{ end }}">
    <td class="px-2 text-gray-500">{{ .Field }}</td>
    <td class="px-2 hidden sm:table-cell">
      {{ if eq (len .Before) 0 }}<span class="text-gray-400">[empty]</span>{{ end }}
      {{ range .Before }}
        {{- if (eq .Type 0) }}<span>{{ .Text }}</span>{{ end -}}
        {{- if (eq .Type -1) }}<span class="text-red-500 font-bold">{{ .Text }}</span>{{ end -}}
      {{ end }}
    </td>
    <td class="px-2">
      {{ if eq (len .After) 0 }}<span class="text-gray-400">[empty]</span>{{ end }}
      {{ range .After }}
        {{- if (eq .Type 0) }}<span>{{ .Text }}</span>{{ end -}}
        {{- if (eq .Type 1) }}<span class="text-green-600 font-bold">{{ .Text }}</span>{{ end -}}
      {{ end }}
    </td>
  </tr>
{{ end }}
</table>
