<!DOCTYPE html>
<html>
  <head>
    <title>wrtag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="dist/tailwind.js"></script>
    <script src="dist/htmx.js"></script>
    <script src="dist/htmx-sse.js"></script>
    <style type="text/tailwindcss">
      @layer base {
        a { @apply font-normal text-blue-600; }
        button { @apply font-normal text-blue-700; }
        input { @apply outline outline-1 outline-gray-100 rounded-sm; }
      }
      @layer utilities {
        .htmx-request { @apply pointer-events-none animate-pulse opacity-75; }
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.body.addEventListener('htmx:beforeSwap', (evt) => {
          if (evt.detail.xhr.status)
            evt.detail.shouldSwap = true;
        });
        document.body.addEventListener('htmx:afterSwap', (evt) => {
          const open = new Set();
          for (const el of evt.detail.target.querySelectorAll("details"))
            if (el.getAttribute("open") !== null)
              open.add(el.id)
          for (const id of open)
            evt.detail.elt.querySelector(`#${id}`)?.setAttribute("open", "")
        });
      });
    </script>
  </head>
  <body hx-ext="sse" sse-connect="/events?stream=jobs" class="font-mono antialiased leading-tight text-sm text-gray-800 flex flex-col items-start gap-3 m-0 p-3">
    <h1 class="text-lg">wrtag</h1>
    <input id="job-search" type="search" name="search" placeholder="filter jobs" class="border px-3 py-1 shadow-sm" />
    {{ block "jobs" . }}
    <div hx-get="/jobs" hx-trigger="sse:jobs, input changed from:#job-search throttle:500ms, every 5s" hx-include="#job-search" hx-swap="outerHTML" class="contents">
      {{ if eq (len .) 0 }}<p class="text-gray-600">no jobs yet ...</p>{{ end }}
      {{ range . }}
        <div hx-get="/jobs/{{ .ID }}" hx-trigger="sse:job-{{ .ID }}" hx-include="">
          {{ template "release.html" . }}
        </div>
      {{ end }}
    </div>
    {{ end }}
    {{ block "error" "" }}
      <div id="errors" hx-swap-oob="true">
        {{ if not (eq . "") }}
          <div class="fixed w-fit bottom-0 right-0 m-3 p-1 bg-red-200 text-red-700">
            {{ . }}
          </div>
        {{ end }}
      </div>
    {{ end }}
  </body>
</html>
