<form hx-post="/jobs/{{ .ID }}" hx-target="this" hx-swap="outerHTML" class="bg-gray-100 p-3 flex flex-col items-start gap-2 shadow-sm">
  <div class="flex justify-between gap-3 w-full">
    <span>{{ .Operation }} path <a class="italic" href="{{ .SourcePath | file | url }}">{{ .SourcePath }}</a></span>
    <button hx-delete="/jobs/{{ .ID }}" hx-swap="none">[x]</button>
  </div>
  {{ if .SearchResult }}
    <p class="font-bold">{{ printf "%.2f%%" .SearchResult.Score }} match with <a href="https://musicbrainz.org/release/{{ .SearchResult.Release.ID }}" target="_blank">https://musicbrainz.org/release/{{ .SearchResult.Release.ID }}</a></p>
    {{ template "diff.html" .SearchResult.Diff }}
    {{ if .SearchResult.OriginFile }}
      {{ template "originfile.html" .SearchResult.OriginFile }}
    {{ end }}
    {{ if .SearchResult.ResearchLinks }}
      <p>research links <span class="inline-flex gap-2">{{ range .SearchResult.ResearchLinks }}<a target="_blank" href="{{ .URL | url }}">{{ .Name }}</a>{{ end }}</span></p>
    {{ end }}
  {{ end }}
  {{ if eq .Status "" }}
    <p class="text-gray-600">in progress ...</p>
  {{ else if eq .Error "needs-input" }}
    <p>low/no match <button hx-post="/jobs/{{ .ID }}?confirm=1">[use anyway]</button></p>
  {{ else if .Error }}
    <p class="text-red-500">{{ .Error }}</p>
    <p>custom mbid/url <input type="text" name="mbid" class="px-2 w-[320px]" placeholder="74a7e992-4366-427a-91ff-f3cf6aa7524d" value="{{ .UseMBID }}"></p>
    <button>[retry]</button>
  {{ else }}
    <p>sucessfully moved to <a href="{{ .DestPath | file | url }}">{{ .DestPath }}</a>
    <p>custom mbid/url <input type="text" name="mbid" class="px-2 w-[320px]" placeholder="74a7e992-4366-427a-91ff-f3cf6aa7524d" value="{{ .UseMBID }}"></p>
    <button>[reimport]</button>
  {{ end }}
</form>
