<div id="{{ .ID }}" class="bg-gray-100 p-2 flex flex-col items-start gap-2 shadow-sm">
  <p class="italic">{{ now }} {{ .Path }}</p>
  {{ if not .Complete }}
    <p class="text-grey-600">loading ...</p>
  {{ end  }}
  {{ if .Release }}
    <p class="font-bold">
      {{ printf "%.2f%%" .Score }} match with
      <a class="font-normal text-blue-700 underline" href="https://musicbrainz.org/release/{{ .Release.MBID }}" target="_blank">https://musicbrainz.org/release/{{ .Release.MBID }}</a>
    </p>
    <table>
      {{ range .Diff }}
      <tr class="{{ if gt (len .Changes) 1 }}bg-gray-200{{ end }}">
        <td class="border-b px-2 text-gray-500">{{ .Field }}</td>
        <td class="border-b px-2">
          {{ if eq .Before "" }}<span class="text-gray-400">[empty]</span>{{ end }}
          {{ range .Changes }}
            {{- if (eq .Type 0) }}<span>{{ .Text }}</span>{{ end -}}
            {{- if (eq .Type -1) }}<span class="text-red-600 font-bold">{{ .Text }}</span>{{ end -}}
          {{ end }}
        </td>
        <td class="border-b px-2">
          {{ if eq .After "" }}<span class="text-gray-400">[empty]</span>{{ end }}
          {{ range .Changes }}
            {{- if (eq .Type 0) }}<span>{{ .Text }}</span>{{ end -}}
            {{- if (eq .Type 1) }}<span class="text-green-600 font-bold">{{ .Text }}</span>{{ end -}}
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </table>
    <button hx-post="/job/{{ .ID }}/confirm" hx-target="#{{ .ID }}" hx-swap="outerHTML" class="text-blue-700">use this release</button>
  {{ end }}
  {{ if .Error }}
    <hr class="h-px my-0 bg-gray-300 border-0 w-full" />
    <p class="text-red-600">{{ .Error }}</p>
    {{ if nomatch .Error }}
        <form hx-post="/job/{{ .ID }}" hx-target="#{{ .ID }}" hx-swap="outerHTML" class="flex gap-2">
        <label>release mbid/url</label>
        <input type="text" name="mbid" class="border w-[310px]" placeholder="74a7e992-4366-427a-91ff-f3cf6aa7524d">
        <button class="text-blue-700">search</button>
      </form>
    {{ end }}
  {{ end }}
</div>
