<div class="bg-gray-100 p-2 flex flex-col gap-2">
  <p class="italic">{{ .Path }}</p>
  {{ if .Error }}
  <p class="text-red-600">{{ .Error }}</p>
  {{ else }}
  <table>
    {{ range .Diff }}
    <tr class="{{ if gt (len .Changes) 1 }}bg-yellow-50{{ end }}">
      <td class="border-b px-2 text-gray-500">{{ .Field }}</td>
      <td class="border-b px-2">
        {{ range .Changes }}
          {{- if (eq .Type 0) }}<span>{{ .Text }}</span>{{ end -}}
          {{- if (eq .Type -1) }}<span class="text-red-600 font-bold">{{ .Text }}</span>{{ end -}}
        {{ end }}
      </td>
      <td class="border-b px-2">
        {{ range .Changes }}
          {{- if (eq .Type 0) }}<span>{{ .Text }}</span>{{ end -}}
          {{- if (eq .Type 1) }}<span class="text-green-600 font-bold">{{ .Text }}</span>{{ end -}}
        {{ end }}
      </td>
    </tr>
    {{ end }}
  </table>
  {{ end }}
</div>
